In [11]:
import pandas as pd
import os

dir_path = 'all journeys'

In [35]:
file_names = [file_name for file_name in os.listdir(dir_path) if '.csv' in file_name]
test_file = file_names[0]
data = pd.read_csv(os.path.join(dir_path, test_file))
data.head()

,timestamp,type,lat,lon,height,accuracy,speed,bearing,x,y,z
0,1.435092e+12,gps,33.81375,-84.333782,295.611052,10.0,5.71,264.023438,NaN,NaN,NaN
1,1.435092e+12,accelerometer,NaN,NaN,NaN,NaN,NaN,NaN,0.277664,0.465225,-0.893127
2,1.435092e+12,accelerometer,NaN,NaN,NaN,NaN,NaN,NaN,0.276474,0.469696,-0.850754
3,1.435092e+12,accelerometer,NaN,NaN,NaN,NaN,NaN,NaN,0.298202,0.460754,-0.862839
4,1.435092e+12,accelerometer,NaN,NaN,NaN,NaN,NaN,NaN,0.266952,0.455170,-0.856811

In [37]:
data['timestamp'] = pd.to_datetime(data['timestamp'], unit='ms')
data.head()

,timestamp,type,lat,lon,height,accuracy,speed,bearing,x,y,z
0,2015-06-23 20:36:42.360510,gps,33.81375,-84.333782,295.611052,10.0,5.71,264.023438,NaN,NaN,NaN
1,2015-06-23 20:36:42.423510,accelerometer,NaN,NaN,NaN,NaN,NaN,NaN,0.277664,0.465225,-0.893127
2,2015-06-23 20:36:42.523510,accelerometer,NaN,NaN,NaN,NaN,NaN,NaN,0.276474,0.469696,-0.850754
3,2015-06-23 20:36:42.625510,accelerometer,NaN,NaN,NaN,NaN,NaN,NaN,0.298202,0.460754,-0.862839
4,2015-06-23 20:36:42.719510,accelerometer,NaN,NaN,NaN,NaN,NaN,NaN,0.266952,0.455170,-0.856811

In [38]:
data['type'].unique()

array(['gps', 'accelerometer'], dtype=object)

In [39]:
data_gps = data.loc[data['type'] == 'gps'].drop(['type', 'x', 'y', 'z'], axis=1)
data_gps.head()

,timestamp,lat,lon,height,accuracy,speed,bearing
0,2015-06-23 20:36:42.360510,33.813750,-84.333782,295.611052,10.0,5.71,264.023438
7,2015-06-23 20:36:43.010510,33.813745,-84.333809,295.093351,10.0,4.12,262.265625
19,2015-06-23 20:36:44.006510,33.813746,-84.333844,294.858610,10.0,2.96,256.992188
30,2015-06-23 20:36:44.992510,33.813747,-84.333820,294.384489,10.0,1.79,253.476562
41,2015-06-23 20:36:45.979510,33.813756,-84.333747,293.162565,10.0,1.50,223.945312

In [40]:
data_acc = data.loc[data['type'] == 'accelerometer'].drop(['type', 'lat', 'lon', 'height', 'accuracy', 
                                                           'speed', 'bearing'], axis=1)
data_acc.head()

                   timestamp         x         y         z
1 2015-06-23 20:36:42.423510  0.277664  0.465225 -0.893127
2 2015-06-23 20:36:42.523510  0.276474  0.469696 -0.850754
3 2015-06-23 20:36:42.625510  0.298202  0.460754 -0.862839
4 2015-06-23 20:36:42.719510  0.266952  0.455170 -0.856811
5 2015-06-23 20:36:42.827510  0.272644  0.453766 -0.904800